.CaardItemTitle{
    padding-top: 50px;
}
.CaardItemTitleText{
    padding-left: 220px;
    font-family: 'Square721 BdEx BT [Rus by me]';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #915DFF;
}
.CardItemiconText{
    height: 300px;
    width: 280px;
    border-radius: 0px;
    background: #FFFFFF;
    border: 1px solid #915DFF;
    margin-left: 20px;
}
.CardIcon{
    padding-top: 51px;
    padding-left: 10px;
}
.CradText{
    padding-top: 20px;
    padding-left: 25px;
}
.HeadeCard{
    display: flex;
    padding-left: 100px;
    margin-top: 100px;
}